/*
 * === Footer style ===
 */

/* Footer style */
footer {
    align-items: center;
    background-color:white;
    border-top: 1px solid #cccccc;
    display: flex;
    bottom: 0;
    height: 60px;
    justify-content: center;
    position: relative;
    width: 100%;
  }